<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.diagnostics>
		<trace autoflush="true" >
			<listeners>
				<add name="ConnectionTracker" type="System.Diagnostics.TextWriterTraceListener" initializeData="ConnectionTrackerLog.txt"/>
				<remove name="Default" />
			</listeners>
		</trace>
	</system.diagnostics>
</configuration>
